*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto Slab', serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container-left{
    width: 35%;
    height: 100vh;
}

.img-left{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-right{
    width: 65%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 80px;
}

.form{
  width: 350px;
  height: 350px;  
  margin: auto;
}

.container-form{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.container-fecha{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.btn{
    width: 100%;
    height: 40px;
    background: #36013F;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}

label{
    font-size: 14px;
    opacity: 0.8;
}

.name{
    width: 97%;
   
}

.number{
    width: 97%;
}

.Month{
    width: 95%;
}

.Year{
    width: 95%;
}

.Cvc{
width: 100%;
}

.content-cvc{
    width: 50%;
    margin-right: 10px;
}

.content-month-year{
    display: flex;
    width: 100%;
}

.input-inv{
    width: 95%;
    border: 1px solid rgba(243, 11, 11, 0.3);
}

input{
    height: 30px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    outline: navajowhite;
    border-radius: 4px;
    margin: 2px ;
    cursor: pointer;
   color: black;
   margin: 2px;
}

input::placeholder{
    padding-left: 10px;
}

span{
    font-size: 14px;
    color: #36013F;
    padding: 20px 0 5px 0;
}

.front-card{
    position: absolute;
    width: 350px;
    height: 200px;   
    border-radius: 10px;
    margin: 280px 0 0 240px;
    display: flex;
    flex-direction: column;
}

.back-card{
    position: absolute;
    width: 350px;
    height: 200px;
    display: flex;
    border-radius: 10px;
    margin: 510px 0 0 320px; 
}

.img-font{
    width: 350px;
    height: 200px;
    position: relative;
}

.img-back{
    width: 350px;
    height: 200px;
    position: relative;
}

.content-front{
    position: absolute;
    width: 350px;
    height: 200px;
}

.content-back{
    position: absolute;
    width: 350px;
    height: 200px;
 }    
  
h1{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 20px 0 0 20px;
    left: 0;
}

h2{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border:  1px solid white;
    margin: 30px 0 0 10px;
}

.cont-icons{
    display: flex;
    width: 100%;
    height: 60px;
}

.card-number{   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    color: white;
    margin: 50px 0 5px 20px;
}

.Style-number{
    font-size: 30px;
    color: white;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.card-name{
    font-size: 12px;
    margin: 0 0 0 20px;
}

.card-fecha{
    margin: 0 20px 0 0;
}

.card-cvc{
   position: relative;
   color: white;
   margin: 86px 0 0 290px;
}

.gratitude{
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
}

img{
    margin-bottom: 20px;
}
h5{
    font-size: 20px;
    margin-bottom: 10px;
}

p{
    font-size: 10px;
    color: red;
    position: absolute;
}
.attribution{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 12px;
    font-family: cursive;
  }
  
  a{
    color: #728FCE;
    padding-left: 8px;
    text-decoration: none;
  }
  
  a:hover{
  color: hsl(219, 85%, 26%);
  }

@media screen and (max-width: 400px) {
    .container{
        flex-direction: column;
    }
    .container-left{
        width: 100%;
        height: 35%;
    }
    .container-right{
        width: 100%;
        height: 100%;
        padding: 0;
    }
   .container-form{
    margin-top: 20px;
    }
  
     .content-front{
        width: 300px; 
    }
    
    .content-back{
        width: 300px;
     } 

     .img-font{
        width: 300px;
        height: 160px;
     }

     .img-back{
        width: 300px;
        height: 160px;
     }
    .back-card{
        width: 300px;
        height: 160px;
        margin: 30px 0 0 60px;
    }
    
    .front-card{
        width: 300px;
        height: 160px;
        margin: 130px 0 0 20px;
    }
    .cont-icons{
        height: 40px;
    }
    h1{ 
        width: 30px;
        height: 30px;
        margin: 10px 0 0 10px;  
    }
    
    h2{
        width: 12px;
        height: 12px;
        margin: 20px 0 0 10px;
    }
    .card-number{
        height: 30px;
        margin: 40px 0 0 10px;
    }
    .Style-number{
        font-size: 25px;
    }
    .card-footer{
        height: 40px;
    }
    .card-name{
        margin: 0 0 0 10px;
        font-size: 12px;
    }
    
    .card-fecha{
        margin: 0 20px 0 0;
        font-size: 12px;
    }
    .card-cvc{
        margin: 68px 0 0 240px;
     }
     
     .gratitude{
        margin-top: 60px ;
     }
   .img-left{
    width: 100%;
   }
}